<%- include('../header') %>
    <link href="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css" rel='stylesheet'>
    <script src="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js"></script>
    <style type="text/css">
        .pusher {
            background-color: rgb(250, 250, 250);
        }
    </style>
    <!-- 左側邊欄 -->
    <div class="ts left vertical fluid inverted visible menu sidebar">

        <!-- 個人資料項目 -->
        <div class="center aligned item">
            <a href="/store/store">
                <img class="ts tiny circular image" src="/img/store.png">
                <br>
                <br>
                <div>Store</div>
            </a>
        </div>
        <!-- / 個人資料項目 -->

        <!-- 餐券管理 -->
        <div class="item">
            <i class="setting icon"></i>
            餐券管理
            <div class="menu">
                <a class="item" href="/store/transaction">掃描餐券</a>
                <a class="item" href="/store/queryStoreTicket">已收餐券</a>
            </div>
        </div>
        <!-- / 餐券管理 -->


        <!-- 底部選單 -->
        <div class="bottom menu">
            <!-- 登出 -->
            <a href="/signout" class="item">
                <i class="sign out icon"></i>
                登出
            </a>
            <!-- / 登出 -->
        </div>
        <!-- / 底部選單 -->
    </div>
    <!-- / 左側邊欄 -->


    <!-- 可擠壓式的推動容器 -->
    <div class="squeezable pusher">
        <%- include('../components/nav') %>
            <%- include('components/notification') %>
                <!-- 主要容器 -->
                <div class="ts centered grid">
                    <div class="twelve wide column">
                        <!-- 主要內容區塊 -->
                        <div class="content">
                            <!-- 表單 -->
                            <form class="ts form" method="post">
                                <div class="ts icon fluid input">
                                    <input id="transaction" name="transaction" placeholder="請掃描餐券...">
                                    <i class="qrcode icon"></i>
                                </div>
                                <br>
                            </form>
                            <!-- / 表單 -->
                        </div>
                        <!-- / 主要內容區塊 -->
                    </div>
                </div>
    </div>
    <!-- / 可擠壓式的推動容器 -->
    <%- include('../footer') %>