<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
          <a class="item" href="/manager/manage">個人首頁</a>
          <!-- /posts?author=<%= manager._id %> -->
          <div class="divider"></div>
          <a class="item" href="/manager/verifyApplication">審查申請資格</a>
          <a class="item" href="/manager/querySuccessApplyStatus">審查結果/發放餐券</a>
          <a class="item" href="/manager/queryUsedTicket">餐券使用狀況</a>
          <a class="item" href="/manager/querySomeoneTicket">查詢個人餐券狀況</a>
          <a class="item" href="/posts/create">新增貼文</a>
          <a class="item" href="/signout">登出</a>
      </div>
    </div>
  </div>
</div>
