<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
          <a class="item" href="/posts?author=<%= store._id %>">個人首頁</a>
          <div class="divider"></div>
          <a class="item" href="/store/transaction">掃描餐券</a>
          <a class="item" href="/store/queryStoreTicket">已收餐券</a>
          <a class="item" href="/signout">登出</a>
      </div>
    </div>
  </div>
</div>
