<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
          <a class="item" href="/student/signin">登入</a>
          <a class="item" href="/student/signup">學生註冊</a>
          <a class="item" href="/store/signup">商家註冊</a>
          <a class="item" href="/manager/signup">管理者註冊</a>
      </div>
    </div>
  </div>
</div>
